<div class="container">
    <div class="jumbotron text-center">
		<h3>Use This Form To Order New Beer Ingredient</h3>
		<form method="POST" action="/api/newvendorMaster">
			<div class = "row">
				<div class = "col-md-6">
					<div class = "form-group">
	            		<label for = "beer-name">Enter Your Beer Name </label>
	              		<input type="text" class = "form-control" name="beer-name" id="beer-name">
	              	</div>
					<div class = "form-group">
	            		<label for = "ingredient1">Ingredient 1: </label>
	              		<input type="text" class = "form-control" name="ingredient1" id="ingredient1">
	              		<label for = "ingredient1">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient1" id="ingredient1">
	              	</div>
	              	<div class = "form-group">
	            		<label for = "ingredient2">Ingredient 2: </label>
	              		<input type="text" class = "form-control" name="ingredient2" id="ingredien2">
	              		<label for = "ingredient2">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient2" id="ingredient2">
	              	</div>
	              	<div class = "form-group">
	            		<label for = "ingredient3">Ingredient 3: </label>
	              		<input type="text" class = "form-control" name="ingredient3" id="ingredient3">
	              		<label for = "ingredient3">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient3" id="ingredient3">
	              	</div>
	              	<div class = "form-group">
	            		<label for = "ingredient4">Ingredient 4: </label>
	              		<input type="text" class = "form-control" name="ingredient4" id="ingredient4">
	              		<label for = "ingredient4">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient4" id="ingredient4">
	              	</div>
	              	<div class = "form-group">
	            		<label for = "ingredient5">Ingredient 5: </label>
	              		<input type="text" class = "form-control" name="ingredient5" id="ingredient5">
	              		<label for = "ingredient5">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient5" id="ingredient5">
	              	</div>
	              	<div class = "form-group">
	            		<label for = "ingredient6">Ingredient 6: </label>
	              		<input type="text" class = "form-control" name="ingredient1" id="ingredient6">
	              		<label for = "ingredient6">Qty: </label>
	              		<input type="text" class = "form-control" name="ingredient1" id="ingredient6">
	              	</div>
	              	<br>
	              	<button class="btn btn-danger" type="submit" id="submit-vendor">Order</button>
	            	</div?
	            
	    	</div>
		</form>
</div>