<div>
          <form method="POST" action="/api/login">
            <label>
              Email:<br />
              <input type="text" name="Email"  />
              <br />
              Password:<br />
              <input type="text" name="Password" />
            </label>
            <br />
            <input type="submit" value="Create" className="Create" />
          </form>
</div>