<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BrewOne</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/Receipts">Receipts</a></li>
      <li><a href="/inventoryadjust">Inventory Losses</a></li>
      <li><a href="/vendor">Manage Vendors</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="jumbotron text-center">
		<h1>User Login</h1>
			<div class = "row">
				<div class = "col-md-6">
					<form>
			            <label>
			              First Name:
			              <br />
			              <input type="text" name="First Name" />
			              Last Name:
			              <br />
			              <input type="text" name="Last Name" />
			              Email:
			              <br />
			              <input type="text" name="Email" />
			              Password:
			              <br />
			              <input type="text" name="Password" />
				              <div class="dropdown">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								    Role:
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li>Sale</li>
								    <li>Receipt</li>
								    <li>Admin</li>
								  </ul>
							</div>
			            </label>
			            <br />
			            <input type="submit" value="Log-in" className="login" />
			        </form>
	            </div>

	        </div>
	</div>
</div>